/* Reset CSS*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.text-white{
    color: white;
}

.clear{
    clear: both;
}


#main {

}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 46px;
    background-color: #000;
    
}
#nav{
    display: inline-block;
}

#nav,.subnav{
    list-style-type: none;
    display: inline-block;
}

#nav >li{
    display: inline-block;
    
}
#nav li{
    position: relative;
}
#nav li:hover .subnav{
    display: block;
}
#nav >li:hover> a,
#nav .subnav li:hover a{
    background-color: #ccc;
    color: #000;
}

#nav > li >a{
    color: #fff;
    text-transform: uppercase;
    line-height: 46px;
}

#nav li a{
    text-decoration: none;
    
    padding: 0 24px;
    display: block;
}
#nav .nav-arrow-down{
    font-size: 12px;
}

#nav .subnav{
    top:100%;
    left: 0;
    min-width: 230px;
    position: absolute;
    background-color: #fff;
    display: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#header .search-btn{
    float: right;
    
}

#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    padding:0 21px;
    
}
#header .search-btn:hover{
    background-color: red;
    cursor:pointer;
}



#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider/slider-2.jpg') top center / cover no-repeat;
    position: relative;
}

#slider .text-content{
    position: absolute;
    bottom:48px;
    /* left: 50%;
    transform: translateX(-50%); */
    /* cac cach can giua */
     width :100%;
    /* ---- */
    /* right:0
    left:0 */
    text-align: center;
    color: rgb(243, 237, 236);
}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
    
}

#slider .test-description{
    font-size: 15px;
    margin-top: 25px;
}


#content {
    
}
#content .content-section{
    width: 800px;
    padding: 64px 64px 0;
    margin-left: auto;
    margin-right: auto;
}


#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.7;
}

#content .about-text-hn{
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.6;
}
#content .adress-list{
    margin-top: 48px;
    /* overflow: hidden; */
}

#content .adress-item{
    float: left;
    width: 33.3333%;
    height: auto;
    text-align: center;
}

#content .adress-name{
    
    font-size: 15px;
}

#content .adress-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
#content #dn{
    background-color: rgb(156, 123, 13);
    
}
#content .tour-section{
    background-color: rgb(102, 78, 236);
}
.ticket-list{
    background-color: #fff;
    margin-top: 40px;
}

.ticket-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom:1px solid #ddd ;
    color: #757575;
    list-style: none;
}

.ticket-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticket-list .quanity{
    background-color: #000;
    float: right;
    width: 24px;
    height: 24px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

#footer {

}
